{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
	  'page-wapper',
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
      <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.23/bundled/lenis.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
      </head>
  <body{{ attributes.addClass(body_classes) }}>
    <div class="page-wrapper" id="smooth-wrapper">
      <div id="smooth-content">
        <a href="#main-content" class="visually-hidden focusable skip-link">
          {{ 'Skip to main content'|t }}
        </a>

        {{ page_top }}
        {{ page }}
        {{ page_bottom }}
      </div>
    </div>
	<js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
  <script>
    // simpleParallax
    var image = document.querySelectorAll('.paralax');
    new simpleParallax(image, {
      delay: 5,
      transition: 'cubic-bezier(0,0,0,1)',
      scale: 1.15
    });
    var image = document.querySelectorAll('.paralax-2');
    new simpleParallax(image, {
      orientation: "down left",
      delay: 5,
      transition: 'cubic-bezier(0,0,0,1)',
      scale: 1.15
    });

    //Lenis
    const lenis = new Lenis()
    function raf(time) {
      lenis.raf(time)
      requestAnimationFrame(raf)
    }
    requestAnimationFrame(raf)

    //GSAP
    gsap.registerPlugin(ScrollTrigger);
    if(document.querySelector(".section--home-usps")){
      let homeUsps = gsap.utils.toArray(".home-usp-img");
      let scrollTween = gsap.to(homeUsps, {
        xPercent: -65 * (homeUsps.length),
        scrollTrigger: {
          trigger: ".section--home-usps",
          pin: true,
          scrub: 1,
          end: () => "+=" + (document.querySelector(".section--home-usps").offsetWidth + 2000)
        }
      });
    }

    var velo = 1

    var action =  gsap.to(".text--circ", {
      rotation:360,
      transformOrigin:"center",
      duration: 10,
      repeat:-1,
      ease: Power0.easeNone,
      onReverseComplete: function() { this.progress(1) }
    })

    ScrollTrigger.create({
      endTrigger: "body",
      onUpdate: (self) => {
        velo = self.getVelocity()
        speed = velo * 0.005
        if (speed < -2){
          speed = -2
        }
        if (speed > 2){
          speed = 2
        }
        if (speed === 0){
          speed = 0.1
        }
        console.log(speed)
        gsap.set(action, {timeScale: speed})
      }
    })

    ScrollTrigger.update()
  </script>
</html>
