<section class="section--landing">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><span>c</span>reative webdesign <span>&</span> <span>d</span>evel <img src="./themes/custom/custom_bootstrap_sass/images/star-2.svg" alt="" class="star star--md star--inline"> pment</h1>
      </div>
    </div>
  </div>
</section>
<section class="section--cta">
  <div class="container">
    <div class="row row--landing">
      <div class="col-8 position-relative">
        <img class="paralax" src="{{ node.field_jumbo.entity.field_media_image.entity.uri.value | image_style('basic') }}" alt="">
        <img src="./themes/custom/custom_bootstrap_sass/images/circ-text-1.png" class="landing-text--circ text--circ" alt="">
      </div>
      <div class="col-3 offset-1">
        <div class="textfield bg--3">
          <p>
            {{ node.field_intro.value | raw }}
          </p>
          <a role="button" href="{{ node.field_cta.0.url | raw }}" class="btn btn-primary btn-arrow">
            {{ node.field_cta.0.title | raw }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section--work bg--1">
  <div class="container">
    <div class="row">
      <div class="title">
        <h4>
          Selected work
        </h4>
      </div>
    </div>
    <div class="row position-relative">
      <div class="projects home-projects">
        {{ views.custom_bootstrap_sass_views_block__projects_block_1 }}
      </div>
      <div class="home-projects-img">
        {{ views.custom_bootstrap_sass_views_block__projects_img_block_1 }}
      </div>
    </div>
  </div>
</section>
<section class="section--services">
  <hr>
  <div class="container">
    <div class="row">
      <div class="title">
        <h4>
          What I do
        </h4>
      </div>
    </div>
    <div class="row home-services">
      <div class="service">
        <div class="textfield bg--3">
          <img src="./themes/custom/custom_bootstrap_sass/images/star-3.svg" alt="" class="star service-star star--sm">
          <h2>Web <br> Design</h2>
          <hr>
          <p class="service-body">
            User experience, Design trends en creatieve verwerking hiervan zijn punten waar ik veel op focus in mijn werk. Hierdoor ontwerp ik toepasselijke en overzichtelijk websites & applicaties, met een unieke twist. Tijdens dit proces onderzoek ik ook doelgroeppen, concurrentie en andere belangrijke punten & overleg mijn designkeuzes regelmatig met de klant!
          </p>
        </div>
      </div>
      <div class="service">
        <div class="textfield bg--3">
          <img src="./themes/custom/custom_bootstrap_sass/images/star-4.svg" alt="" class="star service-star star--sm">
          <h2>Front-end Dev.</h2>
          <hr>
          <p class="usp-body">
            De realisatie van het design is waar ik de lat hoog leg. Toepasselijke methodes, nette en efficiënte code & genoeg vrijheid voor verandering van de content vanuit de klant. Hiervoor gebruik ik de CMS Drupal, waarvoor ik ook snelle & duidelijke cursussen voor de klant geef. Ook realisatie op mobiele apparaten; no worries!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
