<header>
  {% set items = simplify_menu('header') %}
  <div class="container">
    <div class="row nav">
      <div class="nav-col nav-brand">
        <a class="nav-logo" href="./home">
          <h5>
            Zjuul Rovers
          </h5>
        </a>
      </div>
      <div class="nav-col nav-links">
        <a role="button" class="btn btn-primary btn-arrow nav-cta" href="{{ items.menu_tree.0.url }}">
          {{ items.menu_tree.0.text }}
        </a>
        <a role="button" class="btn btn-primary nav-menu-btn">
          <i class="bi bi-list nav-menu-icon"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<div class="menu">
  <div class="container menu-container">
    <div class="row nav">
      <div class="nav-col nav-brand">
        <a class="nav-logo nav-logo--alt" href="./home">
          <h5>
            Zjuul Rovers
          </h5>
        </a>
      </div>
      <div class="nav-col nav-links">
        <a role="button" class="btn btn-secondary btn-arrow" href="{{ items.menu_tree.0.url }}">
          {{ items.menu_tree.0.text }}
        </a>
        <a role="button" class="btn btn-secondary nav-menu-btn">
          <i class="bi bi-list nav-menu-icon"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="menu-links">
        {{ page.primary_menu }}
      </div>
      <div class="menu-footer">
        <p>2023 © All rights reserved</p>
      </div>
    </div>
  </div>
</div>
<div class="mouse-overlay">
  <i class="bi bi-eye-fill mouse-overlay--eye"></i>
</div>
